<div class="container" style="margin-top:35px" id="topicSidebar">
  <div class="row">
    <div class="col-lg-2 col-md-6 verticalBar">
      <div class="service-box mt-5 mx-auto">
        <h5> Topic 1</h5>
        <ul class="subMenu list-unstyled">
          <li><a class="linkTopic" [routerLink]="Angular"> sub topic</a></li>
          <li><a class="linkTopic" href="#">sub topic1</a></li>
        </ul>
        <br>
      </div>
    </div>
    <div class="col-lg-8 col-md-6">
      <app-content></app-content>
    </div>
    <div class="col-lg-2 col-md-6">
      <app-add></app-add>
    </div>
   
    
  </div>
</div>